
b{
    font-size: 26px;
    color: #000;
    background-color:cornflowerblue;
}

.card{
   max-width: 30rem; 
   
   }

button{
   
     width: 420px;
     height:50px;  
     border-radius: 30px;
     
     
 }
 input[type=text],[type=password] {
    background-color:whitesmoke;
  }
 input{
    margin-left: 300px;
    width: 300px;
    height:50px; 
 }
 .form-rounded {
    border-radius: 1rem;
    width: 40px;
    height: 60px;  
    }