
b{
    font-size: 26px;
}
.form-rounded {
    border-radius: 1rem;
    width: 40px;
    height: 60px;  
    }
label{
    width: 7em;
    margin-right: 4em;
    text-align: right;
}
input[type=text],[type=password] {
    background-color:whitesmoke;
  }
button{
    margin-left:200px;
    width: 150px;
    height:50px;
    margin-bottom: 50px;
    border-radius: 30px;

}