b{
    font-size: 20px;
    color: #000;
    background-color:cornflowerblue;
}
.form-rounded {
    border-radius: 1rem;
    width: 40px;
    height: 60px;  
    }

    button{
   
        width: 420px;
        height:50px;  
        border-radius: 30px;
        
        
    }
 input[type=password] {
    background-color:whitesmoke;
  }