<div class="container text-center w-75">
    <div class="card shadow-lg form-group col-sm-12 mt-3"><b> Change Password </b>
<div class=" form-group col-sm-12"></div>
<form action="">
<div class="row form-group col-sm-12"> 
<div class="col-sm-3"></div>
<input type="password" name="oldpassword" id="oldpassword" class="alert form-rounded form-control col-sm-6"placeholder="Old Password">
</div>
<div class="row  form-group col-sm-12">   
<div class="col-sm-3"></div>
<input type="password" name="newpassword" id="newpassword" class="alert form-rounded form-control col-sm-6"placeholder="New Password">          
</div>
<div class="row form-group col-sm-12"> 
<div class="col-sm-3"></div>
<input type="password" name="confirmpassword" id="confirmpassword" class="alert form-rounded form-control col-sm-6"placeholder="Confirm Password">
</div>
<div class="row form-group col-sm-12">
  <div class="col-sm-3"></div>
<button type="submit" class=" button btn btn-primary mr-2 col-sm-3 row ml-lg-2">Submit</button>
<button type="submit" class="button btn btn-danger col-sm-3">Cancel</button>

</div>
</form>
</div>

</div>