<div class="container text-center w-75" >
     <div class="form-group col-sm-12"></div>
        <div class="card col-md-12 form-group shadow-lg ml-5"><b> Sign-up</b><h4>(Service-center)</h4>
   <div class="card-body  col-sm-12">
        <form action="">
   <div class="row form-group col-sm-12"> 
          <div class="form-group col-sm-3"></div>

        <input type="text" name="firname" id="firname" class="form-rounded form-control  col-sm-9 alert m-0"placeholder="Firm Name">
  </div>
    <div class="row form-group col-sm-12">  
          <div class="form-group col-sm-3"></div>

        <input type="text" name="ownername" id="ownername" class="form-rounded form-control  col-sm-9 alert m-0"placeholder="Owner Name">          
              </div>
              <div class="row form-group col-sm-12">  
                  <div class="form-group col-sm-3"></div>
 <input type="text" name="contact" id="contact" class="form-rounded form-control  col-sm-9 alert m-0"placeholder="Contact Number">          
      </div>
      <div class="row form-group col-sm-12">      
          <div class="form-group col-sm-3"></div>
      <input type="text" name="email" id="email" class="form-rounded form-control col-sm-9 alert m-0"placeholder="Email">          
           </div>
           <div class="row form-group col-sm-12">  
              <div class="form-group col-sm-3"></div>
          <input type="password" name="pasw" id="pasw" class="form-rounded form-control  col-sm-9 alert m-0"placeholder="Password">          
               </div>
               <div class="row form-group col-sm-12"> 
                  <div class="form-group col-sm-3"></div>
              <input type="password" name="conpasw" id="conpasw" class="form-rounded form-control  col-sm-9 alert m-0"placeholder="Confirm Password">   
                     </div>
                   <div class="row form-group col-sm-12"> 
                      <div class="form-group col-sm-3"></div>

                      <input type="text" name="pincode" id="pincode" class="form-rounded form-control  col-sm-9 alert m-0"placeholder="Pin Code">          
                       </div>
                       <div class="row form-group col-sm-12">
                          <div class="form-group col-sm-3"></div>
   <textarea class="form-rounded form-control  col-sm-9 alert m-0" rows="10" id="comment"placeholder="Address"></textarea>
                      </div>
                      <div class="row form-group col-sm-12">
                              <div class="col-sm-2"> </div>
                                 <button type="submit" class="button btn btn-primary "(click)="gotoPageUserSignup()">Generate OTP</button>
                             
                           </div>
  </form>
   </div>
  </div>
  </div>
