<div class="container text-center w-75">
    <div class="card shadow-lg"><b>Edit Profile</b>
<img src="assets/caruser.jpg" alt="Cinque Terre" class="  rounded-circle mx-auto d-block" width="170" height="170">
<div class="row form-group col-sm-12"> 
        <div class="form-group col-sm-2"></div>
<div class="row text-center form-group col-sm-12">
            <div class="form-group col-sm-3"></div>
        <input type="text" name="firname" id="firname" class="alert form-rounded form-control col-sm-6"placeholder="Firm Name">
    </div>
<div class="row text-center form-group col-sm-12">
        <div class="form-group col-sm-3"></div>

    <input type="text" name="owenername" id="owenername" class="alert form-rounded form-control col-sm-6" placeholder="Owner Name">
</div>
<div class="row text-center form-group col-sm-12">
        <div class="form-group col-sm-3"></div>
    <input type="text" name="contactnumber" id="contactnumber" class="alert form-rounded form-control col-sm-6"placeholder="Contact Number">
</div>
<div class="row text-center form-group col-sm-12">
        <div class="form-group col-sm-3"></div>
    <input type="text" name="email" id="email" class="alert form-rounded form-control col-sm-6"placeholder="Email">
</div>
<div class="row text-center form-group col-sm-12">
    <div class="form-group col-sm-3"></div>
<input type="text" name="pincode" id="pincode" class="alert form-rounded form-control col-sm-6"placeholder="Pincode">
</div>
<div class="row text-center form-group col-sm-12">
        <div class="form-group col-sm-3"></div>

    <textarea class=" alert form-rounded form-control col-sm-6"name="address" rows="5" id="address"placeholder="Address"></textarea>
  
</div>

<div class="row form-group col-sm-12">
    <div class="col-sm-3"></div>
 <button type="submit" class=" button btn btn-primary mr-1 col-sm-3 row ml-lg-1">Update</button>
 <button type="submit" class="button btn btn-danger col-sm-3">Cancel</button>

</div>
<div class="row form-group col-sm-12">
    <div class="col-sm-3"> </div>
       <button type="submit" class="button btn btn-primary col-sm-6">Change Password</button>
   
 </div>
</div>
</div>