
    <!-- <div>
       <div class="sidenav">
         <a routerLink="/login">Login</a><br>
         <a routerLink="/Master">Master</a><br>
         <a routerLink="/Home">Home Page</a><br>
        <a routerLink="/User_SignUp_Form">User Signup  </a><br>
        <a routerLink="/one_time_password">One Time Password </a><br>

        <a routerLink="/forgot_password">Forgot Password  </a><br>

        <a routerLink="/service-center-signup">Service Center Signup </a><br>
        <a routerLink="/service_one_time_password">Service One Time Password </a><br>
        <a routerLink="/Set_password_form">Set Password</a><br>
        <a routerLink="/User_loginForm">User login </a><br>
        <a routerLink="/Booking_for_wash">Booking Wash</a><br>
        <a routerLink="/view_all_history">View All History</a><br>
        <a routerLink="/Edit_profile">Edit Profile</a><br>
        <a routerLink="/user_change_pass">User Change Password</a><br>
        <a routerLink="/service_center_login">Service Center Login</a><br>
        <a routerLink="/view_all_nearest_bookings">View All Nearest Bookings</a><br>
        <a routerLink="/booking_for_maintenance_wash">Booking For Maintenance/Wash</a><br>
        <a routerLink="/customer_history">Customer History</a><br>
        <a routerLink="/service_edit_profile">Service Edit Profile</a><br>
        <a routerLink="/change_password">Change Password</a><br>
        <a routerLink="/confirmed_orders">Confirm Orders</a><br>
        <a routerLink="/wallet_details">Wallet Details</a><br>
        <a routerLink="/total_pending_amount">Total Pending Amount</a><br>
        <a routerLink="/page_not_found">Page Not found</a><br>
      </div>
    </div>  -->
    <div class="outlet">
      <router-outlet></router-outlet>
    </div>
