<div class="container text-center mt-4 w-75">
    <div class="card shadow-lg" ><b>Forgot Password</b>

<form action="" class="mt-3">
<div class="row form-group col-sm-12"> 
   <div class="form-group col-sm-2"></div>

    <input type="text" name="entermobilenumber" id="entermobilenumber" class="alert form-rounded form-control col-sm-8"placeholder="Enter Mobile No">
</div>


          <div class="row form-group col-sm-12">
               <div class="form-group col-sm-1"></div>
               <div class="col-sm-1"></div>
              <button type="submit" class="btn btn-primary mr-3 col-sm-8" >FORGOT PASSWORD</button>
              </div>
        </form>
</div>
</div>