b{
    font-size: 26px;
    color: #000;
    background-color:cornflowerblue;
}
.card{
    max-width: 40rem; 
   
    }
.form-rounded {
    border-radius: 1rem;
    width: 40px;
    height: 60px;  
    }
label{
    width: 20em;
    margin-right: 5em;
    text-align: right;
}
button{
   
    width: 420px;
    height:50px;  
    border-radius: 30px;
    
    
}
input[type=text],[type=password] {
    background-color:whitesmoke;
  }
/* button{
    margin-left:200px;
    width: 150px;
    height:50px;
    margin-bottom: 50px;

} */
