<div class="container mt-5 w-75">
   <div class="card shadow-lg">
      <div class="card-body text-center">
         <div class="row form-group col-sm-12">
            <div class="form-group">
               <button type="submit" class="button btn btn-primary "(click)="gotoPageUserSignup()">User Sign Up</button>
            </div>
         </div>
         <div class="row form-group col-sm-12">
            <div class="form-group">
               <button type="submit" class="btn btn-danger " (click)="gotoPageServiceCenterSignup()">Service Center
                  SignUp</button>
            </div>
         </div>
      </div>
   </div>
</div>